@using Blazor.Song.Net.Shared

<div name="player" class="content" style="margin-bottom:0">
    <div name="playerInfoPanel" class="frame">
        <PlayerInfo @ref=playerInfo />
    </div>
    <div class="columns is-mobile" name="playerControlPanel" style="margin-bottom:0">
        <ButtonPlayer IsEnabled="@IsPlayingEnabled" OnClick="PreviousTrackClick">
            <Template>
                <i class="fa fa-fast-backward"></i>
            </Template>
        </ButtonPlayer>
        <ButtonPlayer IsEnabled="@IsPlayingEnabled" OnClick="(async () => { await AudioService.AddTime(-5, Data.CurrentTrack.Duration.TotalSeconds); })">
            <Template>
                <i class="fa fa-backward"></i>
            </Template>
        </ButtonPlayer>
        <ButtonPlayer IsEnabled="@IsPlayingEnabled" OnClick="(async () => { IsPlaying = !IsPlaying; })">
            <Template>
                @if (IsPlaying)
                {
                    <i class="fa fa-pause"></i>
                }
                else
                {
                    <i class="fa fa-play"></i>
                }
            </Template>
        </ButtonPlayer>
        <ButtonPlayer IsEnabled="@IsPlayingEnabled" OnClick="(async () => { await AudioService.AddTime(5, Data.CurrentTrack.Duration.TotalSeconds); })">
            <Template>
                <i class="fa fa-forward"></i>
            </Template>
        </ButtonPlayer>
        <ButtonPlayer IsEnabled="@IsPlayingEnabled" OnClick="NextTrackClick">
            <Template>
                <i class="fa fa-fast-forward"></i>
            </Template>
        </ButtonPlayer>
    </div>
</div>