@page "/library"
@page "/library/{FilterParameter}"
@inherits PageBase

<PageTitle>@Title</PageTitle>

<div id="library" name="library" class="content section">
    <div name="searchPanel" class="field is-fullwidth">
        <div id="librarySearchDiv" class="control is-fullwidth">
            <input class="input is-fullwidth" type="text" placeholder='Exemple de filtre -> artist:"David Bowie" title:"/H(e|é)roe?s/"' @bind="Filter" @bind:event="oninput" />
        </div>
    </div>
    @if (!IsLibraryLoaded)
    {
        <a class="button is-info" @onclick=LoadLibraryClick>
            Load library
        </a>
    }
    else
    {
        <SongList Tracks="@TrackListFiltered" CurrentTrack="@CurrentTrack" @ref="_songList">
            <RowTemplate>
                <tr class="libraryRow @((context.ClickMarker.HasValue ?( context.ClickMarker.Value ? "library-item-clicked": "library-item-clicked2"):""))">
                    <td><button class="button is-info lib-button" @onclick="( e => AddPlaylistClick(context))"><i class="fa fa-plus"></i></button>@context.Title</td>
                    <td>@context.Artist</td>
                    <td>@context.Album</td>
                    <td>@context.Duration.ToString("mm\\:ss")</td>
                </tr>
            </RowTemplate>
        </SongList>
    }
</div>