@inherits LibraryComponent
@page "/library"
@page "/library/{Filter}"
@using Blazor.Song.Net.Client;

<div id="library" name="library" class="content section">
    <div name="searchPanel" class="field has-addons is-fullwidth">
        <div id="librarySearchDiv" class="control is-fullwidth">
            <input class="input is-fullwidth" type="text" @onkeyup="SearchKeyUp" placeholder='Exemple de filtre -> artist:"David Bowie" title:"/H(e|é)roe?s/"' @bind="Filter" @onkeypress="SearchInputKeyPressed" />
        </div>
        <div class="control">
            <a class="button is-info" @onclick="FilterClick">
                Rechercher
            </a>
        </div>
    </div>
    <SongList Tracks="@TrackListFiltered" CurrentTrack="@CurrentTrack">
        <RowTemplate>
            <tr @ondblclick="( e => DoubleclickPlaylistRow(context))" class="libraryRow">
                <td>@context.Title</td>
                <td>@context.Artist</td>
                <td>@context.Duration.ToString("mm\\:ss")</td>
            </tr>
        </RowTemplate>
    </SongList>
</div>