 @page "/playlist"
 @inherits PageBase
 
<PageTitle>@Title</PageTitle>

<div id="playlist">
    <SongList Tracks="@PlaylistTracks.ToList()" CurrentTrack=@Data.CurrentTrack>
        <RowTemplate>
            @{
                string current = "";

                if (context.Id == Data.CurrentTrack?.Id)
                {
                    current = "current";
                }
            }
            <tr @ondblclick="(e => PlaylistRowDoubleClick(context.Id))" class="playlistRow @current">
                <td class="info" @onclick="(e => PlaylistRowClick(context.Id))">@context.Title</td>
                <td class="info">
                    <div class="columns">
                        <NavLink href="@($"/library/artist:\"{context.Artist}\"")" class="column is-narrow">
                            <i class="fa fa-search"></i>
                        </NavLink>
                        <div class="column auto" @onclick="(e => PlaylistRowClick(context.Id))">@context.Artist</div>
                    </div>
                </td>
                <td class="info" @onclick="(e => PlaylistRowClick(context.Id))">@context.Album</td>
                <td class="info" @onclick="(e => PlaylistRowClick(context.Id))">
                    @context.Duration.ToString("mm\\:ss")
                    <button class="button is-info lib-button" @onclick="(e => PlaylistRowRemoveClick(context.Id))" style="right:0;float: right;"><i class="fa fa-times"></i></button>
                </td>
            </tr>
        </RowTemplate>
    </SongList>
</div>